.container {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }
  @media (max-width: 1199px) {
    .container {
      width: 970px; } }
  @media (max-width: 991px) {
    .container {
      width: 750px; } }
  @media (max-width: 767px) {
    .container {
      width: auto; } }

.col-1 {
  float: left;
  width: 8.33%; }
  @media (max-width: 767px) {
    .col-1 {
      width: 100%; } }

.col-2 {
  float: left;
  width: 16.67%; }
  @media (max-width: 767px) {
    .col-2 {
      width: 100%; } }

.col-half {
  float: left;
  width: 50%; }
  @media (max-width: 767px) {
    .col-half {
      width: 100%;
      padding: 0;
      margin-bottom: 30px; } }

.col-3 {
  float: left;
  width: 33.33%;
  padding: 0 15px; }
  @media (max-width: 767px) {
    .col-3 {
      width: 100%;
      padding: 0;
      margin-bottom: 50px; } }

.col-4 {
  float: left;
  width: 25%;
  padding: 0 15px; }
  @media (max-width: 1199px) {
    .col-4 {
      width: 50%; } }
  @media (max-width: 767px) {
    .col-4 {
      width: 100%;
      padding: 0; } }

.col-8 {
  float: left;
  width: 66.67%; }
  @media (max-width: 767px) {
    .col-8 {
      width: 100%; } }

.col-9 {
  float: left;
  width: 75%; }
  @media (max-width: 767px) {
    .col-9 {
      width: 100%; } }

.col-11 {
  float: left;
  width: 91.67%; }
  @media (max-width: 767px) {
    .col-11 {
      width: 100%; } }

.row {
  margin: 0 -15px;
  margin: 0; }
  .row:before, .row:after {
    content: " ";
    display: table; }
  .row:after {
    clear: both; }

.img-responsive {
  max-width: 100%;
  vertical-align: middle; }

.clearfix::after {
  clear: both;
  display: block;
  content: ""; }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: "Poppins"; }

.nav {
  background-color: #0a19ed; }
  .nav .wrapper {
    padding-top: 60px; }
    @media (max-width: 767px) {
      .nav .wrapper {
        padding-top: 30px; } }
  .nav .nav-menu {
    float: right; }
    .nav .nav-menu:before, .nav .nav-menu:after {
      content: " ";
      display: table; }
    .nav .nav-menu:after {
      clear: both; }
    .nav .nav-menu .right-menu {
      font-size: 15px;
      text-align: right;
      float: left; }
      @media (max-width: 767px) {
        .nav .nav-menu .right-menu {
          display: none;
          text-align: center;
          width: 100%; } }
      .nav .nav-menu .right-menu a {
        letter-spacing: 1px;
        padding: 10px 10px;
        font-weight: 600;
        color: #fff; }

@media (max-width: 767px) {
  li {
    width: 100%; } }

.desktop ul {
  list-style: none;
  padding: 0; }
  .desktop ul li a {
    display: block;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    padding: 15px; }
.desktop a:hover {
  background-color: #010a8c; }
.desktop li ul li a {
  font-size: 16px; }

@media (min-width: 768px) {
  .mobile {
    display: none; }

  ul.menu ul {
    display: none;
    transform: translateY(20px);
    opacity: 0;
    width: 125px;
    transition: all 0.1s linear; }
  ul.menu > li {
    position: relative;
    float: left; }
  ul.menu li ul {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #1BC2A2; }
    ul.menu li ul li {
      position: relative; }
      ul.menu li ul li ul {
        background-color: #1BC2A2;
        position: absolute;
        left: 100%;
        top: 0; }
  ul.menu > li.has-sub > a:after {
    content: "\f107";
    font: normal normal normal 14px/1 FontAwesome;
    margin-left: 5px; }

  li:hover > ul {
    display: block;
    transform: translateY(0);
    opacity: 1;
    transition: all 0.4s linear; }
  li > ul > li.has-sub > a:after {
    content: "\f105";
    font: normal normal normal 14px/1 FontAwesome;
    margin-left: 10px; } }
@media (max-width: 767px) {
  .desktop {
    display: none; } }
@media (max-width: 767px) {
  .nav .container {
    padding: 0; }
  .nav .nav-menu {
    width: 100%; }

  ul {
    list-style: none;
    padding: 0; }
    ul li a {
      display: block;
      text-decoration: none;
      color: #fff;
      font-size: 16px;
      padding: 15px;
      font-weight: 300; }

  li ul li a {
    font-size: 13px;
    background-color: #1b24a7; }

  li a {
    border-bottom: solid 1px #fff;
    letter-spacing: 1px;
    padding: 10px 10px;
    font-weight: 600;
    color: #fff;
    font-size: 18px; }

  ul.mobile-menu li.has-sub > a {
    position: relative; }
    ul.mobile-menu li.has-sub > a.up:after {
      content: "\f106"; }
    ul.mobile-menu li.has-sub > a:after {
      content: "\f107";
      font: normal normal normal 14px/1 FontAwesome;
      position: absolute;
      right: 10px; }
  ul.mobile-menu ul {
    display: none; } }
.mobile .col-half {
  width: 50%; }
.mobile .search-n-menu-icon {
  margin-left: 10px; }
  .mobile .search-n-menu-icon #mobile-search, .mobile .search-n-menu-icon .icons {
    float: left; }
  .mobile .search-n-menu-icon #mobile-search {
    display: none; }
    .mobile .search-n-menu-icon #mobile-search .form-control {
      padding: 5px 10px; }
  .mobile .search-n-menu-icon .icons {
    float: left; }
  .mobile .search-n-menu-icon .icons {
    margin-left: 10px;
    color: #fff;
    margin-top: 10px; }
    @media (max-width: 767px) {
      .mobile .search-n-menu-icon .icons {
        padding-left: 40px; } }
    .mobile .search-n-menu-icon .icons .bars {
      display: none; }
      @media (max-width: 767px) {
        .mobile .search-n-menu-icon .icons .bars {
          display: inline;
          padding-left: 10px; } }

.default-btn, .primary-btn, .btn-shadow {
  font-size: 20px;
  width: 160px;
  padding: 10px 0;
  border-radius: 20px;
  margin-right: 60px;
  display: inline-block;
  transition: all 0.5s; }
  .default-btn:focus, .primary-btn:focus, .btn-shadow:focus, .default-btn:visited, .primary-btn:visited, .btn-shadow:visited {
    outline: none;
    color: inherit; }
  @media (max-width: 991px) {
    .default-btn, .primary-btn, .btn-shadow {
      width: 140px;
      font-size: 16px;
      padding: 8px; } }
  @media (max-width: 767px) {
    .default-btn, .primary-btn, .btn-shadow {
      width: 100px;
      font-size: 10px;
      padding: 6px; } }
  .default-btn a:hover, .primary-btn a:hover, .btn-shadow a:hover {
    background-color: red; }

.default-btn, .primary-btn {
  text-decoration: none;
  text-align: center; }

.default-btn {
  background-color: #fff; }

.primary-btn {
  background-color: #0078ff; }

.btn-shadow {
  width: 220px;
  padding: 20px 0;
  border-radius: 30px;
  box-shadow: 0 0 10px #8f8282; }
  @media (max-width: 991px) {
    .btn-shadow {
      width: 180px;
      padding: 15px 0; } }
  @media (max-width: 767px) {
    .btn-shadow {
      width: 140px;
      padding: 10px 0; } }

.desktop .search-n-menu-icon {
  margin-left: 10px;
  float: left; }
  .desktop .search-n-menu-icon #search, .desktop .search-n-menu-icon .icons {
    float: left; }
  .desktop .search-n-menu-icon #search {
    display: none; }
    .desktop .search-n-menu-icon #search .form-control {
      padding: 5px 10px; }
  .desktop .search-n-menu-icon .icons {
    margin-left: 10px;
    color: #fff;
    margin-top: 10px; }
    .desktop .search-n-menu-icon .icons .bars {
      display: none; }
      @media (max-width: 767px) {
        .desktop .search-n-menu-icon .icons .bars {
          display: inline; } }

.post {
  padding: 15px 15px 0;
  background-color: #fff;
  box-shadow: 0px 0px 7px 5px #eaeaeadd; }
  .post .description {
    padding: 30px; }
    .post .description h1 {
      font-size: 15px;
      color: #000;
      word-spacing: 2px; }
      @media (max-width: 767px) {
        .post .description h1 {
          font-size: 20px; } }
    .post .description p {
      font-size: 13px;
      font-weight: 600;
      color: #525252; }
      @media (max-width: 767px) {
        .post .description p {
          font-size: 16px; } }

.form-control, textarea {
  width: 100%;
  padding: 5px 10px;
  font-size: 20px;
  font-weight: 600;
  background-color: #3373dd;
  color: #fff;
  border: none; }
  @media (max-width: 991px) {
    .form-control, textarea {
      font-size: 15px; } }

textarea {
  height: 225px; }

.button {
  width: 195px;
  padding: 10px;
  font-size: 17px;
  font-weight: 600;
  color: #2687ff;
  border-radius: 15px; }
  @media (max-width: 991px) {
    .button {
      width: 150px;
      padding: 10px  5px;
      font-size: 14px; } }

footer {
  color: #bababa;
  font-weight: 600;
  line-height: 25px;
  font-size: 16px;
  word-spacing: 2px; }
  @media (max-width: 991px) {
    footer {
      font-size: 12px; } }
  @media (max-width: 767px) {
    footer {
      font-size: 16px; } }

footer {
  background-color: #202020; }
  footer .wrapper {
    padding: 110px 0 115px 0; }
    @media (max-width: 767px) {
      footer .wrapper {
        padding: 50px 0; } }
  footer .footer .title {
    font-size: 30px;
    color: #fff;
    margin-bottom: 45px;
    text-transform: uppercase; }
    @media (max-width: 1199px) {
      footer .footer .title {
        font-size: 20px; } }
    @media (max-width: 991px) {
      footer .footer .title {
        font-size: 15px; } }
    @media (max-width: 767px) {
      footer .footer .title {
        font-size: 18px; } }
  footer .footer .description {
    margin-bottom: 20px; }
  footer .footer .contact {
    margin: 10px 0 0 0; }
  footer .footer .appointment-contact {
    margin: 120px 0 10px 0;
    padding-left: 20px; }
    @media (max-width: 767px) {
      footer .footer .appointment-contact {
        margin-top: 50px;
        padding-left: 0; } }
  footer .social-share {
    border-top: 4px solid #969696;
    text-align: center; }
    footer .social-share .logo {
      padding: 50px 0;
      font-size: 40px;
      color: #969696; }
      footer .social-share .logo .icon {
        padding-right: 40px; }

.banner {
  background-color: #0a19ed; }
  .banner .wrapper {
    padding-top: 90px; }
    @media (max-width: 767px) {
      .banner .wrapper {
        padding-top: 50px; } }
  .banner .image {
    margin-top: 100px; }
    @media (max-width: 767px) {
      .banner .image {
        margin-top: 50px; } }
  .banner .banner-description {
    margin: 100px 0 0 0;
    color: #fff; }
    @media (max-width: 991px) {
      .banner .banner-description {
        margin: 0; } }
    .banner .banner-description h1 {
      font-size: 45px;
      font-weight: 300; }
      @media (max-width: 767px) {
        .banner .banner-description h1 {
          font-size: 20px; } }
    .banner .banner-description h2 {
      font-size: 60px;
      font-weight: 600; }
      @media (max-width: 1199px) {
        .banner .banner-description h2 {
          font-size: 52px; } }
      @media (max-width: 991px) {
        .banner .banner-description h2 {
          font-size: 42px; } }
      @media (max-width: 767px) {
        .banner .banner-description h2 {
          font-size: 30px; } }
    .banner .banner-description h3 {
      font-size: 25px;
      font-weight: 300; }
      @media (max-width: 1199px) {
        .banner .banner-description h3 {
          font-size: 23px; } }
      @media (max-width: 991px) {
        .banner .banner-description h3 {
          font-size: 17px; } }
    .banner .banner-description .text {
      margin: 90px 0;
      font-size: 20px;
      font-weight: 300; }
      @media (max-width: 991px) {
        .banner .banner-description .text {
          font-size: 15px; } }
      @media (max-width: 767px) {
        .banner .banner-description .text {
          margin: 50px 0;
          font-size: 16px; } }
    .banner .banner-description .button-section .default-btn {
      color: #0078ff; }
      @media (max-width: 991px) {
        .banner .banner-description .button-section .default-btn {
          margin-right: 10px; } }

.about-us .about-us-description .line .hr1, .about-us .about-us-description .line .hr2 {
  height: 2px;
  float: left; }

.about-us {
  margin: 120px 0 175px 0; }
  @media (max-width: 767px) {
    .about-us {
      margin: 50px 0; } }
  .about-us .about-us-description h1 {
    font-size: 45px;
    word-spacing: 20px;
    letter-spacing: 4px;
    font-weight: 600; }
    @media (max-width: 991px) {
      .about-us .about-us-description h1 {
        font-size: 40px;
        word-spacing: 2px;
        letter-spacing: 2px; } }
  .about-us .about-us-description .line {
    margin: 35px 0 65px 0; }
    .about-us .about-us-description .line .hr1 {
      background-color: #00bed4;
      width: 130px; }
      @media (max-width: 767px) {
        .about-us .about-us-description .line .hr1 {
          width: 50px; } }
    .about-us .about-us-description .line .hr2 {
      width: 335px;
      background-color: #dedede; }
      @media (max-width: 767px) {
        .about-us .about-us-description .line .hr2 {
          width: 150px; } }
  .about-us .about-us-description p {
    line-height: 40px;
    font-size: 20px; }
    @media (max-width: 991px) {
      .about-us .about-us-description p {
        font-size: 15px; } }
    @media (max-width: 767px) {
      .about-us .about-us-description p {
        font-size: 16px; } }
  .about-us .about-us-description a {
    text-decoration: none;
    text-align: center; }
  .about-us .about-us-description .button-section {
    margin-top: 35px; }
  .about-us .image {
    margin-left: 145px;
    background-color: #3983fe; }
    @media (max-width: 991px) {
      .about-us .image {
        margin-top: 60px;
        margin-left: 10px; } }
    .about-us .image .img-responsive {
      margin-top: 250px; }
      @media (max-width: 1199px) {
        .about-us .image .img-responsive {
          margin-top: 400px; } }
      @media (max-width: 767px) {
        .about-us .image .img-responsive {
          margin-top: 200px; } }

.quotation {
  background-color: #1664ce;
  text-align: center; }
  .quotation .quote {
    padding: 200px 0;
    font-size: 30px;
    color: #fff; }
    @media (max-width: 767px) {
      .quotation .quote {
        font-size: 15px;
        padding: 100px 0; } }

.theme h1, .theme h2 {
  word-spacing: 10px;
  line-height: 60px; }

.theme h2, .theme .title, .theme .description {
  color: #686666;
  line-height: 30px;
  font-weight: 500; }

.theme {
  margin: 165px 0 220px 0;
  text-align: center; }
  @media (max-width: 767px) {
    .theme {
      margin: 50px 0; } }
  .theme h1 {
    font-size: 30px; }
    @media (max-width: 991px) {
      .theme h1 {
        font-size: 25px; } }
  .theme h2 {
    font-size: 25px; }
    @media (max-width: 991px) {
      .theme h2 {
        font-size: 20px; } }
  .theme .line {
    margin-top: 40px; }
  .theme .image {
    margin-top: 95px; }
    @media (max-width: 767px) {
      .theme .image {
        margin-top: 50px; } }
  .theme .title {
    margin-top: 85px;
    font-size: 20px; }
    @media (max-width: 767px) {
      .theme .title {
        margin-top: 50px; } }
  .theme .description {
    margin-top: 75px;
    font-size: 16px; }
    @media (max-width: 1199px) {
      .theme .description {
        font-size: 14px; } }
    @media (max-width: 767px) {
      .theme .description {
        margin-top: 50px;
        font-size: 18px; } }

.page-sample {
  background-color: #0a19ed;
  color: #fff; }
  .page-sample .wrapper {
    padding-top: 135px; }
    @media (max-width: 767px) {
      .page-sample .wrapper {
        padding-top: 50px; } }
  .page-sample .image {
    padding-bottom: 120px; }
    @media (max-width: 767px) {
      .page-sample .image {
        padding-bottom: 0px; } }
  .page-sample .page-sample-description {
    margin: 100px 50px 0 0; }
    @media (max-width: 991px) {
      .page-sample .page-sample-description {
        margin: 30px 0 0 0; } }
    @media (max-width: 767px) {
      .page-sample .page-sample-description {
        margin-top: 50px; } }
    .page-sample .page-sample-description .description {
      font-size: 20px;
      font-weight: 600; }
      @media (max-width: 1199px) {
        .page-sample .page-sample-description .description {
          font-size: 18px; } }
    .page-sample .page-sample-description .button-section {
      margin: 35px 0 0 20px; }
      @media (max-width: 991px) {
        .page-sample .page-sample-description .button-section {
          margin: 35px 0; } }
      .page-sample .page-sample-description .button-section .default-btn {
        color: #0078ff; }
        @media (max-width: 1199px) {
          .page-sample .page-sample-description .button-section .default-btn {
            margin-right: 15px; } }

.doctor-panel {
  margin: 135px 0 175px 0;
  text-align: center; }
  @media (max-width: 767px) {
    .doctor-panel {
      margin: 50px 0; } }
  .doctor-panel h1 {
    margin-bottom: 130px;
    font-size: 45px;
    word-spacing: 4px; }
    @media (max-width: 767px) {
      .doctor-panel h1 {
        margin-bottom: 50px; } }
    @media (max-width: 991px) {
      .doctor-panel h1 {
        font-size: 30px; } }
  .doctor-panel .doctor-info {
    background-color: #1664ce;
    margin: 0; }
    .doctor-panel .doctor-info .detail {
      padding: 10px 0; }
      @media (max-width: 767px) {
        .doctor-panel .doctor-info .detail {
          padding: 0; } }
      .doctor-panel .doctor-info .detail .name {
        font-size: 25px;
        color: #fff;
        font-weight: 600; }
        @media (max-width: 991px) {
          .doctor-panel .doctor-info .detail .name {
            font-size: 20px; } }
      .doctor-panel .doctor-info .detail .department {
        font-size: 25px;
        color: #fff;
        font-weight: 300; }
        @media (max-width: 991px) {
          .doctor-panel .doctor-info .detail .department {
            font-size: 20px; } }

.package {
  background-color: #1664ce;
  text-align: center;
  color: #fff; }
  .package .wrapper {
    padding: 95px 0 65px 0; }
  .package .title {
    margin-bottom: 85px; }
    .package .title h1 {
      font-size: 45px; }
      @media (max-width: 991px) {
        .package .title h1 {
          font-size: 30px; } }
  .package .package-info {
    background-color: #fff;
    position: relative;
    margin-top: 30px; }
    .package .package-info .package-icon {
      position: absolute;
      margin-top: -45px;
      font-size: 30px;
      background-color: #62c6f8;
      text-align: center;
      transform: rotate(45deg);
      border-radius: 20px;
      border-bottom-right-radius: 0;
      height: 100px;
      width: 100px;
      line-height: 100px;
      left: calc(50% - 50px); }
      @media (max-width: 991px) {
        .package .package-info .package-icon {
          height: 80px;
          width: 80px;
          line-height: 80px;
          left: calc(50% - 40px);
          font-size: 20px; } }
      .package .package-info .package-icon .icon {
        transform: rotate(-45deg); }
    .package .package-info .package-description {
      padding: 110px 0 75px 0; }
      .package .package-info .package-description h1 {
        color: #535353;
        font-size: 25px;
        word-spacing: 10px;
        font-weight: 600;
        margin-bottom: 60px; }
        @media (max-width: 991px) {
          .package .package-info .package-description h1 {
            font-size: 20px; } }
      .package .package-info .package-description P {
        color: #aba5a5;
        padding: 0 2px; }
      .package .package-info .package-description ul li {
        color: #aba5a5; }
        @media (max-width: 1199px) {
          .package .package-info .package-description ul li {
            font-size: 13px; } }
        @media (max-width: 767px) {
          .package .package-info .package-description ul li {
            font-size: 16px; } }
      .package .package-info .package-description .button-section {
        margin: 50px 0 0 40px; }

.latest-posts {
  margin: 80px 0 105px 0;
  padding: 100px 0;
  background-color: #f9f5f5; }
  @media (max-width: 767px) {
    .latest-posts {
      margin: 0;
      padding: 50px 0 0 0; } }
  .latest-posts h1 {
    color: #686767;
    font-size: 45px;
    word-spacing: 20px;
    font-weight: 600;
    margin-bottom: 30px; }
    @media (max-width: 991px) {
      .latest-posts h1 {
        font-size: 35px; } }
    @media (max-width: 767px) {
      .latest-posts h1 {
        font-size: 25px; } }
  .latest-posts .description .comment {
    font-size: 13px;
    font-weight: 600;
    color: #525252; }
    @media (max-width: 991px) {
      .latest-posts .description .comment {
        font-size: 10px; } }
    @media (max-width: 767px) {
      .latest-posts .description .comment {
        font-size: 14px; } }
    .latest-posts .description .comment .col-half {
      width: 100%; }

.contact-us {
  margin-bottom: 60px;
  color: #fff; }
  @media (max-width: 767px) {
    .contact-us {
      margin: 50px 0 0 0; } }
  .contact-us .contact-form {
    background-color: blue; }
    .contact-us .contact-form .wrapper {
      padding: 45px 40px 60px 40px; }
      .contact-us .contact-form .wrapper .title {
        text-align: center;
        margin-bottom: 60px; }
        .contact-us .contact-form .wrapper .title h1 {
          font-size: 25px; }
          @media (max-width: 991px) {
            .contact-us .contact-form .wrapper .title h1 {
              font-size: 20px; } }
          @media (max-width: 767px) {
            .contact-us .contact-form .wrapper .title h1 {
              font-size: 20px; } }
        .contact-us .contact-form .wrapper .title h2 {
          font-size: 15px;
          word-spacing: 2px; }
          @media (max-width: 1199px) {
            .contact-us .contact-form .wrapper .title h2 {
              font-size: 12px;
              word-spacing: 1px; } }
          @media (max-width: 767px) {
            .contact-us .contact-form .wrapper .title h2 {
              font-size: 14px; } }
      .contact-us .contact-form .wrapper .form-group {
        margin-bottom: 10px; }
      .contact-us .contact-form .wrapper .form-group-button {
        margin-top: 50px;
        text-align: center; }

/*# sourceMappingURL=main.css.map */
