
.nav{
	background-color: $blue;


	.wrapper{
		padding-top: 60px;

		@include media(xs){
			padding-top: 30px;
		}

	}	

	.nav-menu{
		float: right;
		@include clearfix();

		.right-menu{
			font-size: 15px;
			text-align: right;
			float: left;
			
			@include media(sm){
				font-size: 14px;
			}

			@include media(xs){
				display: none;
				text-align: center;
				width: 100%;
			}

			a{
				letter-spacing: 1px;
				padding: 10px 10px;
				font-weight: 600;
				color: #fff;
			
				@include media(xs){
					font-size: 10px;		
				}
			}
			
		}
		
	}
	
	
}




