
.nav-menu{
	/* position: fixed; */
	z-index: 1;
	top: 0;
	width: 100%;
  	margin: 0;
	background-color: $blue;

	
	
	.menu{
		padding-top: 60px;

		@include media(xs){
			padding-top: 30px;
		}

		.right-menu{
			font-size: 15px;
			text-align: right;
			
			@include media(sm){
				font-size: 14px;
			}

			@include media(xs){
				display: none;
				text-align: center;
				
			}

		
			.menu-text{
				display: inline-block;
				letter-spacing: 1px;
				padding: 10px 10px;
				font-weight: 600;
				color: #fff;
				@include media(xs){
					font-size: 10px;
					display: block;
					
				}
			
							
			}
			
			
		}
		
	}
}



