.container{
    margin: 0 auto;
    width: 1200px;
}

.col-1{
    float: left;
    width: 10%;
}
.col-11{
    float: left;
    width: 90%;
}
.col-half{
    float: left;
    width: 50%;
  
}
.col-3{
    float: left;
    width: 33.33%;
    padding: 0 15px;
}
.col-4{
    float: left;
    width: 25%;
    padding: 0 15px;
}

.row{
    margin: 0 -15px;
    @include clearfix();
}

