$primary_font: "Poppins";
$blue: #0a19ed;
$light-blue: #1664ce;
$gray: #969696;
$white: #fff;
$black: #000;

$font-size-lg:20px;


$font-size-h1-lg: 45px;


$font-size-h2-lg: 60px;


$font-size-h3-lg: 25px;




$font-weight-normal: 300;
$font-weight-semi-bold: 500;
$font-weight-bold: 600;






