%text{
    color: #bababa;
     font-weight: 600;
     line-height: 25px;
     font-size: 16px;
     word-spacing: 2px;
    
     @include media(xs){
        font-size: 16px;
    }
}

footer{
    @extend %text;
    background-color: #202020;    
    
    a{
        text-decoration: none;
        @extend %text;
    
    }

    .clearfix{
        display: none;
        // @include media(md){
        //     display: block;
        // }
    }  
    .col-half{
        @include media(sm){
            width: 100%;
        }
    }
   
    .wrapper{
        padding: 110px 0 115px 0;
        @include media(xs){
            padding: 50px 0 0 0 ;
        }
    }
    
    .footer{
        .col-3{
            @include media(md){
                width: 33.33%;
            }
            @include media(xs){
                width: 100%;
            }
        }
        
        .title{
            font-size: 30px;
            color: $white;
            margin-bottom: 45px;
            text-transform: uppercase;
           
            @include media(md){
                font-size: 20px;
            }
         
            @include media(sm){
                font-size: 15px;
            }
            @include media(xs){
                font-size: 18px;
                margin-bottom: 30px;
            }
        }
        
        .description{
            margin-bottom: 20px;
           
            @include media(xs){
                margin-bottom: 30px;
            }
        }
       
        .contact{
            margin: 10px 0 0 0;
        }
       
        .appointment-contact{
            margin: 120px 0 10px 0;
            padding-left: 10px;
            @include media(sm){
                margin: 20px 0;
                padding-left: 0;
            }
            @include media(xs){
                margin: 30px 0;
                padding-left: 0;
            }
        }
    
    }

    .social-share{
        border-top: 4px solid $gray;
        text-align: center;
        
        .logo{
            padding: 50px 0;
            font-size:40px;
            color: $gray;
            @include media(xs){
              font-size: 30px;
            }
           
            .icon{
                padding-right: 40px;
                @include media(xs){
                    padding-right: 20px;
                  }
            }
      
        }
    }
}
