%hr{
    height: 2px;
    float: left;
}
.about-us{
    margin: 120px 0 175px 0;

    @include media(xs){
        margin: 50px 0;
    }

    .about-us-description{
       
        h1{   
            font-size: $font-size-h1-lg;
            word-spacing: 20px;
            letter-spacing: 4px;
            font-weight: $font-weight-bold;

            @include media(sm){
                // font-size: 40px;
                // word-spacing: 2px;
                // letter-spacing: 2px;
            }
        }
      
        .line{
            margin: 35px 0 65px 0;
           

            .hr1{
                @extend %hr;
                background-color: #00bed4;
                width: 130px;

                @include media(xs){
                    width: 50px;
                }
            }

            .hr2{
                @extend %hr;
                width: 335px;
                background-color: #dedede;
                @include media(xs){
                    width: 150px;
                }
            }
        }
       
        p{
            line-height: 40px;
            font-size: $font-size-lg;
            @include media(sm){
                // font-size:15px;
            }

            @include media(xs){
                font-size: 16px;
            }

        }
       
        a{
            text-decoration: none;
            text-align: center;
        }
        .button-section{
            margin-top: 35px;
        }
    
    }
    
    .image{
        margin-left: 145px;
        background-color: #3983fe;

        @include media(md){
            margin-top: 100px;
            margin-left: 100px;
        }
        @include media(sm){
            margin-top: 200px;
            margin-left: 20px;
        
        }

        @include media(sm){
           
            margin-top: 50px;
        
        }
        
        
            
        .img-responsive{
            margin-top: 250px;     

            @include media(md){
                margin-top: 200px;
            } 
            
            @include media(sm){
                margin-top: 250px;
            }  
            @include media(xs){
                margin-top: 200px;
            }    
             

        }
    }
 
}
