.banner{
    background-color: $blue; 

    .wrapper{
        padding-top: 90px;
        
        @include media(xs){
            padding-top: 50px;
        }
    }

    .image{
        margin-top: 100px;
        @include media(sm){
            margin-top: 0;
        }

        @include media(xs){
            margin-top: 50px;
        }
       
    }
    
    .banner-description{
        margin:100px 0 0 0; 
        color: $white;
        
        @include media(sm){
            margin: 0;
        }
       
        h1{
            font-size: $font-size-h1-lg;
            font-weight: $font-weight-normal; 
            @include media(xs){
                font-size: 20px;
            }
       
        }
       
        h2{
            font-size: $font-size-h2-lg;
            font-weight: $font-weight-bold;
            @include media(md){
                font-size: 52px;
            }

            @include media(sm){
                font-size: 42px;
            }
            @include media(xs){
                font-size: 30px;
            }
        }
        
        h3{
            font-size: $font-size-h3-lg;
            font-weight: $font-weight-normal;
            @include media(md){
                font-size: 23px;
            }
            @include media(sm){
                font-size: 17px;
            }
        }
       
        .text{
            margin: 90px 0;
            font-size: $font-size-lg;
            font-weight: 300;
          
            @include media(sm){
                font-size: 20px;
                margin: 45px 0; 
            }

            @include media(xs){
                margin: 50px 0;
                font-size: 16px;
            }

        }
        
        .button-section{
            .default-btn{
                color: #0078ff;
                
                @include media(sm){
                margin-right: 10px;
                }
            }
        }


        
    }
}

