.contact-us{
    margin-bottom: 60px;
    color: $white;
 
   @include media(xs){
        margin-bottom: 20px;
    }

    .container{
        @include media(xs){
            padding: 0;
        }
    }

    .col-half{
        @include media(md){
            width: 100%;
            margin-bottom: 20px;

        }
    }
    
    .contact-form{
        background-color: blue;
     
        .wrapper{
            padding: 45px 20px 60px 20px;
           
            .title{
                text-align: center;
                margin-bottom: 60px;
                
                h1{
                    font-size: 25px;
                    
                    @include media(md){
                        font-size: 30px;
                    }
                    @include media(xs){
                        font-size: 25px;
                    }
    
                }
    
                h2{
                    font-size: 15px;
                    word-spacing: 2px;
                  
                    @include media(md){
                        font-size: 18px;
                        word-spacing: 1px;
                    }
                    @include media(xs){
                        font-size: 14px;
                    }
                }
            }

            .form-group{
                margin-bottom: 10px;
            }
            .form-group-button{
                margin-top:50px;
                text-align: center;
            }
        }
    }
}