.contact-us{
    margin-bottom: 60px;
    color: $white;
    @include media(xs){
        margin: 50px 0 0 0  ;
    }
    
    .contact-form{
        background-color: blue;
     
        .wrapper{
            padding: 45px 40px 60px 40px;
           
            .title{
                text-align: center;
                margin-bottom: 60px;
                
                h1{
                    font-size: 25px;
                    
                    @include media(sm){
                        font-size: 20px;
                    }
    
                }
    
                h2{
                    font-size: 15px;
                    word-spacing: 2px;
                  
                    @include media(md){
                        font-size: 12px;
                        word-spacing: 1px;
                    }
                }
            }

            .form-group{
                margin-bottom: 10px;
            }
            .form-group-button{
                margin-top:50px;
                text-align: center;
            }
        }
    }
}