.doctor-panel{
    margin: 135px 0 175px 0;
    text-align: center;
    @include media(xs){
        margin: 50px 0;     
    }
    
   
    h1{
        margin-bottom: 130px;
        @include media(xs){
            margin-bottom: 50px;
        }
        font-size: $font-size-h1-lg;
        word-spacing: 4px;
        
        
        @include media(sm){
            font-size: 30px;
        }

    }

   
    
        
    .doctor-info{
        background-color: $light-blue;
        margin: 0;
        // text-align: center;
       
        .detail{
            padding: 10px 0;
            @include media(xs){
                padding: 0;
            }    
            

            .name{
                font-size: 25px;
                color: #fff;
                font-weight: $font-weight-bold;
              
                @include media(sm){
                    font-size: 20px;
                }

            }
            .department{
                font-size: 25px;
                color: #fff;
                font-weight: 300;
        
                @include media(sm){  
                   font-size: 20px;  
                }

            }
        }


   }
}