.latest-posts{
    margin: 80px 0 105px 0;
    padding: 100px 0;
    background-color: #f9f5f5;

 
    h1{
        color: #686767;
        font-size: 50px;
        word-spacing: 20px;
        font-weight: 600;
        margin-bottom: 30px;
    }   
    .description{
        .comment{
            font-size: 13px;            
            font-weight: 600;
            color: #525252;
            
            @include media(sm){
                font-size: 10px;
            }

            .fa-comment-o{
                padding-left: 15px;
              
            }
        }   

    }

}
