.package{
    background-color: $light-blue;
    text-align: center;
    
    color: #fff;
    .wrapper{
        padding: 95px 0 65px 0;
    }
    .col-3{
        @include media(md){
            margin-bottom: 50px;
        }
    }
    
    .title{
        margin-bottom: 85px;
        h1{
            font-size: $font-size-h1-lg;

            @include media(sm){
                font-size: 30px;
            }
        }
    
    }
    .package-info{
        background-color: #fff;
        position: relative;
        margin-top:30px;

       
        .package-icon{
            position: absolute;
            margin-top: -45px;
            font-size: 30px;
            background-color: #62c6f8;
            text-align: center;
            transform: rotate(45deg);
            border-radius: 20px;
            border-bottom-right-radius: 0;
            @include package_icon( 100px );
            
            @include media(sm){
                @include package_icon( 80px ); 
                font-size: 20px;
            }
    
            .icon{
                transform: rotate(-45deg); 
            }
        }
        .package-description{
            padding: 110px 0 75px 0;

            h1{
                color: #535353;
                font-size: 25px;
                word-spacing: 10px;
                font-weight: 600;
                margin-bottom: 60px;

                @include media(sm){
                    font-size: 20px;
                }
                
            }
            P{
                color: #aba5a5;
                padding: 0 2px;   
            }
            ul{
                li{
                    color: #aba5a5;
                    @include media(md){
                        font-size: 13px;
                    }
                    @include media(xs){
                        font-size: 16px;
                    }
                }
            }
            .button-section{
                margin: 50px 0 0 40px;   
            }
        }
    }
   
    
}