.page-sample{
    background-color: $blue;
    color: #fff;

    .wrapper{
        padding-top: 135px;
    }
    .image{
        padding-bottom: 120px;
    }
    
    .page-sample-description{
        margin: 100px 50px 0 0;
        
        .description{
            font-size: 20px;
            font-weight: 600;
        }
       
        .button-section{
            margin: 35px 0 0 20px;
            
            .default-btn{
                color: #0078ff;
            }
        }
    }
}