.quotation{
    background-color: $light-blue;
    text-align: center;
    
    .quote{
        padding: 200px 0;
        font-size: 30px;
        color: $white;

        @include media(xs){
            font-size: 15px;
            padding: 100px 0;
        }

    }
}