%common-style{
    word-spacing: 10px;
    line-height: 60px;
}
%text-color{
    color: #686666;
    line-height: 30px;
    font-weight: $font-weight-semi-bold;
}
.theme{
    margin: 165px 0 220px 0;
    text-align: center;

    @include media(xs){
        margin: 50px 0;
    }
   
    h1{
        @extend %common-style;
        font-size: 30px;
        @include media(sm){
            font-size: 25px;
        }

    }
    
    h2{
        @extend %common-style;
        @extend %text-color;
        font-size: 25px;
        @include media(sm){
            font-size: 20px;
        }

       
    }

    .line{
        margin-top: 40px;
    }
    
    
    .image{
        margin-top: 95px;
        @include media(xs){
            margin-top: 50px;
        }
        
    }
    
    .title{
        @extend %text-color;
        margin-top: 85px;
        font-size: $font-size-lg;
        @include media(xs){
            margin-top: 50px;
        }
    }
    
    .description{
        @extend %text-color;
        margin-top: 75px;
        font-size: 16px;
        
        @include media(md){
            font-size: 14px;
        }
        @include media(xs){
            margin-top: 50px;
        }
    }

}